*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

header{
    height: 16vh;
    background-color: #FF69B4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 770px) {
    header{
    flex-direction: column;
    height: 25vh;
   
   }
}


.boxLogo{
    width: 40vw;
    display: flex;
    align-items: center;
   
}

@media(max-width: 770px) {
   .boxLogo{
    flex-direction: column;
    width: 100%;
   }
}

.boxLogo h1{
    font-size: 1.7vw;
    font-weight: 400;
    color: white;
}

@media(max-width: 770px) {
    .boxLogo h1{
        font-size: 2.5vw;
    }
}

@media(max-width: 500px) {
    .boxLogo h1{
        font-size: 3.1vw;
    }
}

  .boxLogo img{
    width: 8vw;
  }


@media(max-width: 770px) {
    .boxLogo img{
      width: 12vw;
    }
  }

@media(max-width: 500px) {
    .boxLogo img{
      width: 15vw;
    }
  }  

  nav{
    width: 40vw;
   
  }

@media(max-width: 770px) {
    nav{
      width: 100%;
      
    }
  }

  nav ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.5vw;
  }

@media(max-width: 770px) {
  nav ul{
    justify-content: space-evenly;
    font-size: 2.3vw;
  
  }
}

@media(max-width: 500px) {
    nav ul{
     font-size: 3vw;
    }
}

nav ul li{
    color: white;
    cursor: pointer;
   
}

.firstSection{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:  #FFD9EC;
  
    
}   

@media(max-width: 770px) {
   .firstSection{
    flex-direction: column;
    height: 70vh;
   }
}

@media(max-width: 500px) {
    .firstSection{
     height: 80vh;
    }
 }
    
 #articleParagraf{
    width: 40vw;
    height: 35vh;
 
 p{
     font-size: 1.6vw;   
     font-weight: 500;
    }
}   

@media(max-width: 770px) {
    #articleParagraf p{
     font-size: 1.9vw;   
     margin-top: 1vh;
    
    }
}

@media(max-width: 500px) {
    #articleParagraf p{
     font-size: 2.1vw;   
   
    }
}

#articleImg{
    // width: 30vw;
    // height: 45vh;
   
    img{
        width: 25vw;
        height: 45vh;
    }
}

@media(max-width: 770px) {
    #articleImg img{
        width: 35vw;
        height: 39vh;
        

    } 
}

@media(max-width: 650px) {
    #articleImg img{
        width: 34vw;
        height: 40vh;  
    } 
}

@media(max-width: 500px) {
    #articleImg img{
        width: 36vw;
        height: 44vh;  
    } 
}
 
.segundSection{
    width: 100%;
    height: 41vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF69B4;
    
}

@media(max-width: 770px) {
    .segundSection{
     flex-direction: column;
     height: 65vh;
    }
 }

#articleImg2{
     
    img{
      width: 32vw;
      height: 35vh;
    }
}


@media(max-width: 770px) {
    #articleImg2 img{
        width: 35vw;
        height: 39vh;  
        margin-top: 1vh;
       
    } 
}


@media(max-width: 500px) {
    #articleImg2 img{
        width: 38vw;
        height: 42vh;  
    } 
}

#articleParagraf2{
    width: 50vw;
    height: 30vh;
 
    p{
    font-size: 1.9vw;   
    font-weight: 500;
    color: #E4EEF1;

    }
}

@media(max-width: 770px) {
    #articleParagraf2 p{
     font-size: 2.1vw;  
     margin-top: 1vh; 
        
    }
}

@media(max-width: 500px) {
    #articleParagraf2 p{
     font-size: 2.3vw;   
   
    }
}

.terSeticon{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  #FFD9EC;

 img{
     width: 18vw;
     height: 32vh;  
      
    }
}

@media(max-width: 770px) {
    .terSeticon{
     flex-direction: column;
     height: 145vh;
    }

  .terSeticon article img{
        width: 24vw;
        height: 34vh;  
    }
 }

//  @media(max-width: 500px) {
//    .terSeticon article img{
//         width: 26vw;
//         height: 36vh;  
//     }
//  }


footer{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:  #FF69B4;
}

footer div{
     width: 40vw;
     height: 14vh;
     display:flex;
     justify-content: space-between;
     align-items: center;  
  
     p{
        font-size: 13px;
        color: #E4EEF1;
        font-weight: 500;
        text-align: center;
      }
   
    }



footer article {
    width: 25vw;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  img{
   width: 4vw;
   height: 5.7vh;
   cursor: pointer;
}
  
}

footer img{
 width: 6vw;
 height: 11vh;
}

@media(max-width: 770px) {
     footer{
     flex-direction: column;
     height: 45vh;
         
    }
}

@media(max-width: 420px) {
    footer div{
     margin-bottom: 2vh;   

     p{
      font-size: 12px;  
     }
    }

   footer img{
    height: 9vh;
   }
}

@media(max-width: 300px) {
    footer div p{
        font-size: 11px;  
    }
}

#textBox {
    display: none; 
    margin-top: 10px;
    width: 250px;
    height: 165px;
    padding: 8px;
    position: absolute;
    background-color: #FFD9EC;
    border: solid 2px  #FF69B4;
    box-sizing: border-box; 
    font-size: 14px;
    border-radius: 6px;
   
  }

 